body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #FFEBCC;  /* Light Peach Background */
    color: #FFEBCC;  /* Dark text color for better contrast */
}

body h1 {
    color: #003161;
    font-size: xx-large;
}

.container {
    display: flex;
    width: 90%;
    max-width: 900px;
    height: 900px;
    margin: 0 auto;
    background: #003161;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #001a33;
}

.left-section {
    background-color: #006A67;
    color: #FFEBCC;  /* Light Peach Text */
    padding: 20px;
    width: 100%;
    max-width: 35%;
    text-align: center;
    border-right: 5px solid #014643;
}

.right-section {
    padding: 20px;
    width: 100%;
    max-width: 65%;
}

.profilePicture {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;    
    border: 5px solid #014643;
    box-shadow: 0 4px 8px #014643;
    margin-bottom: 20px;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #FFEBCC;  /* Light Peach Heading */
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: #FFEBCC;  /* Light Peach Text */
    border-radius: 10px;
    box-shadow: 0 0 15px #014947;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

button {
    width: 100%;
    max-width: 150px; 
    height: 45px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px #003230;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    background-color: #006A67;
    color: #FFEBCC;  /* Light Peach Button Text */
}

button:hover {
    background-color: #004543;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left-section, .right-section {
        max-width: 90%;
        width: 100%;
        border-right: none;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    button {
        width: 100%;
    }
}